body{
	background: url(img1.jpg) no-repeat center / cover;
}

th{
	background-color: red;
}

td{
	background-color: #ffffff;
	color: #000000;
}

table,td,th{
	border: ridge black;
	text-align: center;
}

p:nth-child(odd){
	background-color: #ffff00;
	color: #000000;
}
p:nth-child(even){
	background-color: #008000;
	color: #ffffff;
}

a{
	text-decoration: none;
	background-color: #c0c0c0;
	font-size: 30px; 
}
